.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 75px;
}

.experiencia-title {
  color: #e0e0e0;
  margin-top: 5px;
}
 
.experiencia-texto {
  color: #525252;
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 1.33;
  margin-bottom: 50px;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 10px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 20px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia-title {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }


  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  
}