.subtitulo {
    font-size: 6rem;
    line-height: 1;
    word-break: break-all;
    max-width: 4ch;
    text-transform: uppercase;
}

li {
    list-style: none;
}

@media (max-width: 768px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: none;
    }
}