.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-nav a {
  font-size: 1.125rem;
  line-height: 1.3;
  text-decoration: none;
  color: #141414;
  padding: 10px 20px;
  display: block;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 20px;
  }

  .header-nav li {
    background-color: rgb(243, 239, 234);
    border-radius: 4px;
  }
}