body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  margin-top: 3.75rem;
}

.titulo {
  text-align: center;
  font-family: Arial
}


.bottons {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.bottons:hover {
  background: #ee2211;;


}


a {
  background: white;
  padding: 0.625rem;
  margin: 0.625rem;  
  text-decoration: none;
  color: black;  
}

img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0rem 3.75rem;
  max-width: 62.5rem;
}

.texto-base {
  background: white;
  padding: 1.875rem ;
  text-align: right;
}

.descricao {
  font-family: ;
}

.link {
  background: #ee2211;
  padding: 0.625rem 0.75rem; 
  border-radius: 0.25rem; 
  text-decoration: none;
  color: white;
  font-size: 0.625rem;
}

 .title {
  color: #c6c6c6;
  padding: 4rem;
  text-align: end;
 }

 .texto-2 {
  background: white;
 }