body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  margin-top: 3.75rem;
}

.titulo {
  text-align: center;
  font-family: Arial
}


.group-bottons {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin-bottom: 2.5rem;
}

li {
  list-style: none;
}

.bottons:hover {
  border: 0.15rem solid red 
}

a {
  background: white;
  padding: 0.625rem;
  margin: 0.625rem;  
  text-decoration: none;
  color: black;  
}

img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0rem 3.75rem;
  max-width: 62.5rem;
}

.texto-base {
  background: white;
  padding: 1.875rem ;
  text-align: right;
}

.descricao {
  font-family: 1.25rem;
}

.link {
  background: #ee2211;
  padding: 0.625rem 0.75rem; 
  border-radius: 0.25rem; 
  text-decoration: none;
  color: white;
  font-size: 0.625rem;
}

.link:hover {
  background-color: #af1608;
}

.title {
  color: #c6c6c6;
  padding: 4rem;
  text-align: end;
}

h4 {
  margin: 0rem;
}

.vantagens {
  background: white;
  padding: 2.5rem ;
}
 
.vantagens-itens:nth-child(odd) {
  background: #f7f7f7;
  padding: 0.3rem;
}

.vantagens-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
}

.vantagens-itens:hover {
  border-left: #ee2211 solid 0.25rem;
}

.vantagens-itens p {
  grid-column: 2; 
}

.img-vantagens {
  width: 3.5vh;
  height: auto;
  grid-column: 1;
  align-self: center;
}

