body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

.cabecalho {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 20px;
}

.cabecalho h2 {
  grid-column: 1;
}

.sobre-mim {
  grid-column: 2;
  justify-self: end;
}

.sobre-mim ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.title-local {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title {
  margin: 0px;
  padding: 10px;
  text-align: start;
}

.local {
  margin: 0px;
  text-align: start;
}

a {
  text-decoration: none;
  color: black;
}

img {
  grid-column: 1;
  width: 200px;
}


