.foto {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

h1 {
  grid-column: 1 / -1;
}

@media (max-width: 600px) {
  div {
    grid-template-columns: 1fr;
  }
 
}
